
<div>
<input type=text placeholder='Ingresos' data-key=ingresos class='form-control ingresos-custom required-data-ingresos required-data' id= 'required-data-<%= clave %>-<%= numero %>' style="display: inline-block; margin-right: 46px;" name="ingresos-<%= numero %>" value="0"> </input>
</div>