
        <script src="/javascripts/theme/jquery-1.11.1.min.js"></script>
        <script src="/javascripts/theme/bootstrap.min.js"></script>
        <script src="/javascripts/libs/require.js"></script>
        <script src="/javascripts/config.js"></script>
        <script src="/javascripts/libs/require.js"></script>
        <script src="/javascripts/config.js"></script>

        <script src="/javascripts/theme/lumino.glyphs.js"></script>
        <!--script src="/javascripts/theme/chart.min.js"></script-->
        <!--script src="javascripts/theme/chart-data.js"></script-->
        <!--script src="javascripts/theme/easypiechart.js"></script-->
        <!--script src="javascripts/theme/easypiechart-data.js"></script-->
        <script src="/javascripts/theme/bootstrap-datepicker.js"></script>

    </body>
</html>