<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />

    <title>Data UY Empleos</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <link rel='stylesheet' href='/libs/fa/font-awesome-4.6.3/css/font-awesome.min.css' />
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
    <div class="about">
      <ul>
        <li class="active"><a href="/">Inicio</a></li>
        <!--<li><a href="#">Denunciar</a></li>-->
        <li><a href="/sobre-nosotros">Sobre nosotros</a></li>
      </ul>
    </div>
    <div id="wrapper">
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row" style="font-size:100%;">
                    <div class="col-lg-12">
                    <!--
                        <a target="_self" href="#panelSobreElProyecto">1</a>
                        <a target="_self" href="#panelAgradecimientos">2</a>
                        <a target="_self" href="#panelContactos">3</a>
                        <a href="#panelEquipos">4</a>
                        <a href="#panelDatosAbiertos">5</a>
                        <a href="#panelProcesamientosDatos">6</a>-->
                        <div class="panel panel-info" id="panelSobreElProyecto">
                            <div class="panel-body">
                                <div class="tittle">
                                    <h1 style="margin-left:20px;margin-right:20px;border-bottom: 3px solid #33A6B2;">SOBRE EL PROYECTO</h1>
                                </div>
                                <div style="margin-left:20px;margin-right:20px">
                                    <p>Este proyecto nace de la primer experiencia de DATA incubando un proyecto de fin de carrera de Ingeniería en Informática de la Universidad Católica del Uruguay, por iniciativa del Profesor Ing. Carlos Leonczuk. El equipo de estudiantes que se embarcó en el desafío de trabajar por primera vez en un proyecto de tecnología cívica junto a DATA Uruguay está formado por: Martín Da Rosa, Martina Espinosa y Germán Quinteros.</p>
                                    <p>La herramienta surge de la búsqueda conjunta de una temática que despertara el interés del grupo, aportara valor social y permitiera cumplir con las exigencias académicas del proyecto. El tema finalmente elegido proviene de la inquietud del grupo de estudiantes de enfrentarse al mercado laboral, que comparten con muchos otros jóvenes que terminan sus estudios.</p>
                                    <p>El diseño de la herramienta y su arquitectura surgen de un proceso de co-creación del equipo y DATA, mientras que el desarrollo de la misma es 100% realizado por los estudiantes, limitándose el rol de la organización a guiar, aportando desde su experiencia con otras herramientas de tecnología cívica.</p>
                                    <p>Finalmente surge un aporte desde la comunidad <a href="http://www.meetup.com/es-ES/Cafes-de-DATA/events/230136320/" target="_blank"> a través de un Café de DATA</a>, que nos ayudó a abrir información pública sobre laudos, códigos y subgrupos de los consejos de salarios que está disponible pero no procesable por máquina y diseñar la experiencia de usuario e interfaz de la herramienta.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-info" id="panelAgradecimientos">
                            <div class="panel-body">
                                <h1 style="margin-left:20px;margin-right:20px;border-bottom: 3px solid #33A6B2;">AGRADECIMIENTOS</h1>
                                <div style="margin-left:20px;margin-right:20px">
                                    <p style="font-size:100%;"><a href="https://www.linkedin.com/in/ruben-olivera-fonseca-0a27a49b" target="_blank">Cr. Ruben Olivera Fonseca</a></p>
                                    <p style="font-size:100%;"><a>Josefina Rodríguez</a></p>
                                    <p style="font-size:100%;"><a href="http://ine.gub.uy/" target="_blank">Instituto Nacional de Estadística</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-info" id="panelContactos">
                            <div class="panel-body">
                                <h1 style="margin-left:20px;margin-right:20px;border-bottom: 3px solid #33A6B2;">CONTACTO</h1>
                                <div style="margin-left:20px;margin-right:20px;font-size:100%;">
                                    <p>En caso de consultas sobre la aplicación, DATA Uruguay o contactos de prensa puede dirigirse a <a href="contacto@datauy.org" target="_blank">contacto@datauy.org</a>. También estamos disponibles a través de nuestra <a href="http://twitter.com/datauy" target="_blank">cuenta de Twitter</a> y <a href="http://facebook.com/DATAUruguay" target="_blank">página de Facebook</a>.</p>
                                    <p>Como la mayoría de los proyectos que trabajan con datos abiertos y software libre, la retroalimentación de los usuarios es una herramienta fundamental para la mejora de los datos y su tratamiento, por lo que agradecemos e incentivamos la recepción de ideas, sugerencias o correcciones.</p>
                                    <p>En la web de DATA puede encontrarse un <a href="http://www.datauy.org/kit-de-prensa/" target="_blank">kit de prensa de la organización</a> conteniendo material gráfico, así como un kit de prensa del proyecto.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-info" id="panelEquipos">
                            <div class="panel-body">
                                <h1 style="margin-left:20px;margin-right:20px;border-bottom: 3px solid #33A6B2;">EQUIPO</h1>
                                <div class="col-lg-3 col-sm-6 text-center">
                                    <img class="img-circle img-responsive img-center" src="/img/martin.jpg" alt="" style="margin-left:5%">
                                    <h3>
                                        Martin Da Rosa
                                    </h3>
                                    <p>Estudiante de Ingenieria en Informatica</p>
                                    <a href="https://uy.linkedin.com/in/martin-da-rosa-querbi-50636425" target="_blank"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true" style="color:#0077b5"></i></a>
                                </div>
                                <div class="col-lg-3 col-sm-6 text-center">
                                    <img class="img-circle img-responsive img-center" src="img/martina.jpg" alt="" style="margin-left:5%">
                                    <h3>
                                        Martina Espinosa
                                    </h3>
                                    <p>Estudiante de Ingenieria en Informatica</p>
                                    <a href="https://uy.linkedin.com/in/martina-espinosa-campi-049422a1" target="_blank"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true" style="color:#0077b5"></i></a>
                                </div>
                                <div class="col-lg-3 col-sm-6 text-center">
                                    <img class="img-circle img-responsive img-center" src="img/german.jpg" alt="" style="margin-left:5%">
                                    <h3>
                                        Germán Quinteros
                                    </h3>
                                    <p>Estudiante de Ingenieria en Informatica</p>
                                    <a href="https://uy.linkedin.com/in/german-quinteros-897651124" target="_blank"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true" style="color:#0077b5"></i></a>
                                </div>
                                <div class="col-lg-3 col-sm-6 text-center">
                                    <img class="img-circle img-responsive img-center" src="img/carlos.jpg" alt="" style="margin-left:5%">
                                    <h3>
                                        Carlos Leonczuk
                                    </h3>
                                    <p>Tutor del Equipo</p>
                                    <a href="https://uy.linkedin.com/in/carlos-leonczuk-1534a43" target="_blank"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true" style="color:#0077b5"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-info" id="panelDatosAbiertos">
                            <div class="panel-body">
                                <h1 style="margin-left:20px;margin-right:20px;border-bottom: 3px solid #33A6B2;">DATOS ABIERTOS QUE UTILIZA LA APLICACIÓN</h1>
                                <p style="margin-left:20px;margin-right:20px;font-size:100%;">Los datos utilizados en esta aplicación se encuentran disponibles para su reutilización en el <a href="http://ine.gub.uy/" target="_blank">sitio web del INE</a>, y el <a href="https://catalogodatos.gub.uy/organization/ine" target="_blank">Catálogo Nacional de Datos Abiertos</a> como datos abiertos, en formatos abiertos.</p>
                                <ul style="font-size:100%; list-style:none;">
                                    <li><a href="http://ine.gub.uy/documents/10181/33330/Estructura+CIIU4.pdf/0704b430-ae4c-4f7b-98e7-21993026e63f" target="_blank">Listado CIIU</a></li>
                                    <li><a href="http://www.ine.gub.uy/documents/10181/33603/LISTADO+NACIONAL+DE+DENOMINACIONES+DE+OCUPACIONES++.pdf/c35f1f93-ec1a-4928-9b45-6a0ad0c74ea5" target="_blank">Listado CIUO</a></li>
                                    <li>
                                        <a href="http://ine.gub.uy/web/guest/encuesta-continua-de-hogares1" target="_blank">Encuesta Contínua de Hogares</a>
                                        <ul style="list-style:none">
                                            <li>2015</li>
                                            <li>2014</li>
                                            <li>2013</li>
                                            <li>2012</li>
                                            <li>2011</li>
                                            <li>2010</li>
                                            <li>2009</li>
                                            <li>2008</li>
                                            <li>2007</li>
                                            <li>2006</li>
                                            <li>2005</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-info" id="panelProcesamientosDatos">
                            <div class="panel-body">
                                <h1 style="margin-left:20px;margin-right:20px;border-bottom: 3px solid #33A6B2;">PROCESAMIENTO DE DATOS Y DISPONIBILIDAD DEL CÓDIGO COMO SOFTWARE LIBRE</h1>
                                <div style="margin-left:20px;margin-right:20px;font-size:100%;">
                                    <p>Los análisis y visualizaciones provistos por esta aplicación son realizados por DATA y están disponibles para consulta a través del código de la aplicación en GitHub, así como el resto del código fuente.</p>
                                    <p>DATA incentiva la reutilización de este software para cualquier propósito, brindándolo bajo licencia GPLv3 para que otras organizaciones, gobiernos, empresas o ciudadanos puedan sacar provecho del trabajo aquí realizado.</p>
                                </div>
                                <h2 style="margin-left:20px;margin-right:20px;"><u>Términos y condiciones</u></h2>
                                <div style="margin-left:20px;margin-right:20px;font-size:100%;">
                                    <p>Aunque se han extremado los cuidados para brindar los resultados más precisos posibles, la organización no se hace responsable por cualquier error de cálculo o consecuencia del uso de la información aquí provista. Las cifras, cálculos y resultados que brinda la aplicación deben ser tomados como una guía y en ningún caso sustituyen el trabajo de profesionales en la materia.</p>
                                    <p>Los datos utilizados en esta aplicación son provistos por el Instituto Nacional de Estadística. La versión original de los mismos se encuentra publicada y licenciada en la web del mismo y el Catálogo Nacional de Datos Abiertos de AGESIC. Salvo indicación en contrario, la información contenida en el portal será considerada de carácter público. Cuando su uso o tratamiento esté sujeto a algún tipo de restricción deberá estarse a lo indicado expresamente en ese caso. Los datos y sus visualizaciones en este sitio son provistos únicamente como información general, haciéndose el máximo esfuerzo en materia de relevancia, exactitud y completitud. DATA no es responsable por las acciones que los usuarios tomen en función de los datos obtenidos a través de esta página. Los datos y el software se publican en función de sus respectivas licencias y cualquier garantía expresa o implícita son rechazados. En ningún caso DATA será responsable por ningún daño directo, indirecto, incidental, especial o de cualquier otra clase que surja de cualquier forma de uso de este software y estos datos, incluso si se ha advertido la posibilidad de tales daños existan.</p>
                                    <p>Los análisis y visualizaciones provistos por esta aplicación son realizados por DATA y están disponibles para consulta a través del código de la aplicación en GitHub, así como el resto del código fuente.</p>
                                    <p>La prestación de este servicio tiene carácter gratuito para los usuarios. Los usuarios se obligan a hacer buen uso del sitio web y de sus contenidos, respetando la normativa nacional vigente, las buenas costumbres y el orden público, comprometiéndose en todos los casos a no causar daños al mismo ni a ningún tercero. A tal efecto, el Usuario se abstendrá de utilizar cualquiera de los servicios con fines o efectos ilícitos, prohibidos en los presentes Términos y condiciones, lesivos de los derechos e intereses de terceros, o que de cualquier forma puedan dañar, inutilizar, sobrecargar, deteriorar o impedir la normal utilización de los servicios, documentos y toda clase de contenidos en cualquier equipo informático o de otros Usuarios.</p>
                                    <p>Para asegurarnos de que la aplicación esté acorde a las necesidades de nuestros usuarios, e intentar mejorarla utilizamos Google Analytics para recolectar información sobre cómo se utiliza. Google Analytics almacena información como qué páginas ha visitado, cuánto tiempo ha navegado en las mismas, cómo llegó a la página, qué elementos clikea e información sobre qué navegador utiliza. Su dirección IP es enmascarada (parcialmente almacenada) y la información personal sólo es reportada en forma no individualizada (agregada). No permitimos a Google usar o compartir nuestros datos analíticos para ningún propósito además de proveernos de información analítica y recomendamos que todo usuario de Google Analytics siga la misma política.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
